nodos/flows(6).json
[
    {
        "id": "b45cbf8af974c1fb",
        "type": "tab",
        "label": "mqtt database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57363c46dccdd128",
        "type": "mqtt in",
        "z": "b45cbf8af974c1fb",
        "name": "",
        "topic": "aiot1/u3/arg",
        "qos": "2",
        "datatype": "auto",
        "broker": "c7a9200571c85424",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "ec3e389536658f3e"
            ]
        ]
    },
    {
        "id": "ec3e389536658f3e",
        "type": "json",
        "z": "b45cbf8af974c1fb",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "74f26aef93bea261",
                "d24d61966fd547f5"
            ]
        ]
    },
    {
        "id": "74f26aef93bea261",
        "type": "function",
        "z": "b45cbf8af974c1fb",
        "name": "",
        "func": "msg.topic=\"INSERT INTO sensor_states(sensor_id, value)VALUES (\"+msg.payload.sensor + \",\" + msg.payload.value+\")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "e8a22a5cb07db06b"
            ]
        ]
    },
    {
        "id": "d24d61966fd547f5",
        "type": "debug",
        "z": "b45cbf8af974c1fb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "e8a22a5cb07db06b",
        "type": "mysql",
        "z": "b45cbf8af974c1fb",
        "mydb": "7c7aea0edb92fc74",
        "name": "",
        "x": 710,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c7a9200571c85424",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "172.16.2.22",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7c7aea0edb92fc74",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "aiot1",
        "tz": "",
        "charset": "UTF8"
    }
]